In [114]:
import pandas as pd

In [115]:
Google_df = pd.read_excel("./assets/Google.xlsx")

Buk_df = pd.read_excel("./assets/Buk.xlsx")

In [116]:
Google_df_copy = Google_df.copy()

In [117]:
# Transformar los centro de costo a string
Buk_df['Trabajo - Centro de Costo'] = Buk_df['Trabajo - Centro de Costo'].astype("string") # Es type object

Google_df_copy['Cost Center'] = Google_df_copy['Cost Center'].astype("string") # Es type object

In [118]:
# Transformar los rut a string
Buk_df['Empleado - RUT'] = Buk_df['Empleado - RUT'].astype("string")

Google_df_copy['Employee ID'] = Google_df_copy['Employee ID'].astype("string")

In [119]:
# # Recorro cada fila con rut faltante.
for index, row in Google_df_copy.iterrows():

    print

    match = Buk_df[
    
        (Buk_df['Empleado - Email'] == row['Email Address [Required]']) & 
    
        (Buk_df['Trabajo - Centro de Costo'] == row['Cost Center']) &

        (Buk_df['Empleado - Nombre'].str.contains(row['First Name [Required]'], case=False))
    
    ]

    if not match.empty and pd.isna(Google_df.at[index, 'Employee ID']):

        print(index)

        display(match)

        Google_df.at[index, 'Employee ID'] = match.iloc[0]['Empleado - RUT']

602

,Empresa - Nombre Empresa,Trabajo - Nombre División,Trabajo - Nombre Área,Trabajo - Nombre Sub-área Asignada(o),Empleado - RUT,Empleado - Código de Ficha,Empleado - Nombre,Empleado - Apellido,Empleado - Segundo Apellido,Empleado - Email,Empleado - Email Personal,Trabajo - Centro de Costo,Trabajo - Fecha Término Trabajo,Trabajo - Razón de Término,Empleado - Estado,Trabajo - Cargo
2333,TRANSPORTES INTERPOLAR LTDA.,PESCA,Transportes,Operaciones Transportes,15.612.527-k,15612527-k,Guillermo Andrés,Palma,Gonzalez,guillermo.palma@interpolar.cl,guillermo.palma2020@gmail.com,531240020,NaT,NaN,Activo,SUPERVISOR DE TRANSPORTES

947

,Empresa - Nombre Empresa,Trabajo - Nombre División,Trabajo - Nombre Área,Trabajo - Nombre Sub-área Asignada(o),Empleado - RUT,Empleado - Código de Ficha,Empleado - Nombre,Empleado - Apellido,Empleado - Segundo Apellido,Empleado - Email,Empleado - Email Personal,Trabajo - Centro de Costo,Trabajo - Fecha Término Trabajo,Trabajo - Razón de Término,Empleado - Estado,Trabajo - Cargo
410,TRANSPORTES INTERPOLAR LTDA.,PESCA,Transportes,Operaciones Transportes,9.323.687-4,9323687-4,Manuel Hernan,Sepulveda,Mora,msepulveda@interpolar.cl,manuelsepulvedamora@gmail.com,531240020,NaT,NaN,Activo,ENCARGADO CONTROL RUTAS CONDUCTORES

1243

,Empresa - Nombre Empresa,Trabajo - Nombre División,Trabajo - Nombre Área,Trabajo - Nombre Sub-área Asignada(o),Empleado - RUT,Empleado - Código de Ficha,Empleado - Nombre,Empleado - Apellido,Empleado - Segundo Apellido,Empleado - Email,Empleado - Email Personal,Trabajo - Centro de Costo,Trabajo - Fecha Término Trabajo,Trabajo - Razón de Término,Empleado - Estado,Trabajo - Cargo
3813,CAMANCHACA PESCA SUR S.A.,PESCA,Coronel,Planta Congelados Coronel,13.724.563-9,13724563-9,Reinaldo Alberto,Guzman,Amestica,reinaldo.guzman@camanchaca.cl,rguzmanamestica@gmail.com,311100030,NaT,NaN,Activo,OPERADOR DE LINEA

1395

,Empresa - Nombre Empresa,Trabajo - Nombre División,Trabajo - Nombre Área,Trabajo - Nombre Sub-área Asignada(o),Empleado - RUT,Empleado - Código de Ficha,Empleado - Nombre,Empleado - Apellido,Empleado - Segundo Apellido,Empleado - Email,Empleado - Email Personal,Trabajo - Centro de Costo,Trabajo - Fecha Término Trabajo,Trabajo - Razón de Término,Empleado - Estado,Trabajo - Cargo
571,SALMONES CAMANCHACA S.A.,SALMONES,Tome,General,18.978.727-8,18978727-8,Tania Valeska,Gonzalez,Oliveros,tania.gonzalez@camanchaca.cl,taniagonzalezoliveros@gmail.com,212410180,NaT,NaN,Activo,INSPECTOR GESTION DE PERSONAS

In [120]:
Google_df.to_excel('./assets/GoogleActualizado.xlsx', index=False)  # index=False para no escribir los índices